<h1>Список товарів</h1>

<p>Користувач: {{ session['user_login'] }} <a href="{{ url_for('logout') }}">Вийти</a></p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith  %}

{% if items %}
    <ul class="item-list">
        {% for item in items %}
            <li class="item">
                <h2><a href="{{ url_for('get_item', item_id=item.id) }}">{{ item.name }}</a></h2>
                <p>{{ item.description }}</p>
                <p>Ціна за годину: {{ item.price_hour }}</p>
                <p>Ціна за день: {{ item.price_day }}</p>

                {% if item.price_week %}
                    <p>Ціна за тиждень: {{ item.price_week }}</p>
                {% endif %}

                {% if item.price_month %}
                    <p>Ціна за місяць: {{ item.price_month }}</p>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Список товарів порожній.</p>
{% endif %}